* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-color: rgb(243, 243, 233);
    color: rgb(0, 0, 0);
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color:rgb(243, 243, 233);
    z-index: 10;
    border-bottom: 1px black solid;
}

.nav-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}


.navuti a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Great Vibes";
    letter-spacing: 3px;
}

.img {
    width: 30px;
    height: 30px;
    image-rendering: optimizeQuality;
    display: inline-block;
}